<div class="row mb-4">
  <div class="col-md-6">
    <button class="btn btn-sm btn-danger"><a href="/">Back to Profile</a></button>
    
    <h3>Write a new entry!</h3>
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <p class="text-danger create-response"> </p>
      </div>
        <button type="submit" class="btn btn-primary create-btn">Create</button>
    </form>

  </div>

  <script src="./js/create.js"></script>