<div class="col-auto text-center">
    <h1>track your daily memories, notes, & photos</h1>
</div>

<div class="col-auto text-center">
    <button class="btn btn-lg btn-danger sign-btn">sign up now</button>
</div>