<html class="library">
<div class="container container-fluid mt-5"> 
  <div>
    <button class="btn btn-sm text-white btn-danger"><a class="profile-btn" href="/">Back to Profile</a></button>
    </div>
    <div> 
      <h2 class="librarytitle">Image Library</h2>
    </div>
    {{#each images as |image|}}
      <div style="display: inline-flex; "> 
        <div>  
          <a href="/entry/{{image.id}}">
          <img width="250px" height="250px" class="image" src="{{image.image_url}}" /> </br>
          <span class="date" >Created on {{format_date image.date_created}}</span></a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="./js/index.js"></script>
<script src="./js/logout.js"></script>
</html>