<html class="library">
<div> 
  <div>
    <button class="btn btn-sm text-white btn-danger"><a href="/">Back to Profile</a></button>
    <div>
      <h2>Image Library</h2>
    </div>
    {{#each images as |image|}}
      <div style="display: inline-flex; "> 
        <div>  
          <a href="/entry/{{image.id}}">
          <img width="250px" height="250px" src="{{image.image_url}}" /> </br>
          <span>Created on {{format_date image.date_created}}</span></a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="./js/index.js"></script>
<script src="./js/logout.js"></script>
</html>