<div class="row mb-4">
  <div class="col-md-6 project">
    <button class="btn btn-sm text-white btn-danger"><a href="/">Back to Profile</a></button>
    <div>
      <h2>Image Library</h2>
    </div>
    {{#each images as |image|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <a href="/entry/{{image.id}}">
          <img width="200px" height="200px" src="{{image.image_url}}" /></a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="./js/index.js"></script>