<div class="row">
  <div class="col-auto text-center">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row new-entry">
  <div class="col-md-4 text-center">
    <h3>Create a new entry!</h3>
    <button class="btn btn-sm btn-danger create-entry-btn">Create New</button>
  </div>

  <div class="col-md-4 text-center entry">
      <h3>Browse By Title</h3>
      <button class="btn btn-sm btn-danger show-entry-btn">See More</button>
  </div>

  <div class="col-md-4 text-center images">
      <h3>Browse by Images</h3>
      <button class="btn btn-sm btn-danger show-img-btn">See More</button>
  </div>

  <div class="col-md-4 text-center library">
    <h3>See your library!</h3>
    <div class="row mb-2">
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger show-library-btn">See your library</button>
      </div>
    </div>
</div>
</div>



<script src="./js/profile.js"></script>
<script src="./js/entrylist.js"></script>
<script src="./js/library.js"></script>
