<div class="row">
  <div class="col-auto text-center">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h3>Create a new entry!</h3>
    <button class="btn btn-sm btn-danger create-entry-btn">Create New</button>
  </div>
    <div class="col-md-4 text-center">
    <h3>Past Entries</h3>
    <button class="btn btn-sm btn-danger create-entry-btn">See More</button>
  </div>
    <div class="col-md-4 text-center">
    <p>insert fun image(s) code here</p>
  </div>
</div>

<script src="./js/profile.js"></script>
